.success
  p.success__text
    | 👍<br>
    | Сообщение успешно<br>
    | отправлено, мы свяжемся<br>
    | с Вами в ближайшее время
footer.w1400.footer
  img(src="assets/images/logo.svg" alt="Doctor Vasilev" data-aos="fade-up").footer__logo
  .footer-social
    a(href="#" data-aos="fade-up" data-aos-delay="50").footer-social__link Инстаграм
    a(href="#" data-aos="fade-up" data-aos-delay="100").footer-social__link Фейсбук
    a(href="#" data-aos="fade-up" data-aos-delay="150").footer-social__link Вконтакте
  .footer-contacts(data-aos="fade-up" data-aos-delay="200")
    a(href="tel: +7 (911) 737-37-37").footer-contacts__phone +7 (911) 737-37-37
    a(href="#").footer-contacts__link
      img(src="assets/images/social/telegram.svg", alt="Telegram")
    a(href="#").footer-contacts__link
      img(src="assets/images/social/viber.svg", alt="Viber")
    a(href="#").footer-contacts__link
      img(src="assets/images/social/whats.svg", alt="What`s Up")
  .footer-texts
    p.footer-texts__p © 2020 Doctor Vasilev. All rights reserved.
    a(href="#").footer-texts__a Политика использования персональных данных
    p.footer-texts__p(style="text-align: right;") Сделано с любовью в <a href="https://ra-studio.ru/" class="footer-texts__ra">RA-Studio</a>