header.header
  .header-wrap
    img(src="assets/images/logo.svg", alt="Doctor Vasilev").header__logo
    .header-info
      a(href="tel: +7 (911) 737-37-37").header-info__phone +7 (911) 737-37-37
      .header-info-social
        a(href="#")
          img(src="assets/images/social/telegram.svg", alt="Telegram")
        a(href="#")
          img(src="assets/images/social/viber.svg", alt="Viber")
        a(href="#")
          img(src="assets/images/social/whats.svg", alt="What`s Up")
    <svg class="header__burger" width="32" height="32" viewBox="0 0 32 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="0" y="0" width="32" height="2px" fill="black"/>
      <rect x="0" y="8" width="20" height="2px" fill="black"/>
    </svg>

  .header-overlay
    .header-gray
      nav.header-nav
        a(href="#").header-nav__link Результаты операций
        a(href="#").header-nav__link О клинике
        a(href="#").header-nav__link Этапы проведения
        a(href="#").header-nav__link Виды ринопластики
        a(href="#").header-nav__link Особенности операции
        a(href="#").header-nav__link О хирурге
        a(href="#").header-nav__link Реабилитация
        a(href="#").header-nav__link Популярные вопросы
      .header-overlay-bot
        p.header-overlay-bot__text Санкт-Петербург, ул. Полтавская, д. 7
        .header-overlay-bot-social
          a(href="#")
            img(src="assets/images/social/vk.svg", alt="ВКонтакте")
          a(href="#")
            img(src="assets/images/social/insta.svg", alt="Instagram")
          a(href="#")
            img(src="assets/images/social/fb.svg", alt="Facebook")