body{
  font-family: Montserrat;
}
a{
  text-decoration: none;
}
.w1400{
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
} 

.wrapper{
  overflow-x: hidden;
}

*, *:focus, *:hover, *:active{
  outline: none;
}

button{
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.btn{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  min-width: 150px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  box-shadow: 1px 2px 10px rgba(111, 151, 243, 0.1);
  transition: .3s;
  &_blue{
    background-color: #6F97F3;
    color: #fff;
    &:hover{
      @media screen and (min-width: 1024px){
        background: #4A7FF8;
      }
    }
    &:active{
      @media screen and (min-width: 1024px){
        background: #6F97F3;
      }
    }
  }
  &_white{
    border: 2px solid #6F97F3;
    background-color: #fff;
    color: #6F97F3;
    transition: .3s;
    &:hover{
      @media screen and (min-width: 1024px){
        background: #4A7FF8;
        color: #FFFFFF;
        border-color: #4A7FF8;
      }
    }
    &:active{
      @media screen and (min-width: 1024px){
        background: #6F97F3;
        color: #FFFFFF;
        border-color: #6F97F3;
      }
    }
  }
} 